<p>
  <strong>Name:</strong>
  <%= @player.name.blank? ? "none" : @player.name %>
</p>
<p>
  <strong>Country:</strong>
  <%= @player.country.blank? ? "none" : @player.country %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @player.gender.blank? ? "none" : @player.gender %>
</p>
