<div class="col-md-6">
  <% if current_player.id == @player.id %>
    <h1>My profile</h1>
    <h4 class="text-muted">This is how other users will see you</h4>
  <% else %>
    <h1>Player profile</h1>
  <% end %>

  <%= render 'profile' %>

  <% if current_player.id == @player.id %>
  <%= link_to 'Edit', profiles_edit_path, class: "btn btn-info" %>
  <% end %>
</div>
