<h1>Listing Scores</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Score</th>
      <th>Player</th>
      <th>Made</th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each_with_index do |score, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%= link_to score.score, score %></td>
        <td><%= score.player.name %></td>
        <td><%= score.created_at.to_formatted_s(:day_month_and_year) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
