<div class="jumbotron">
  <h1>Welcome</h1>
  <p>DodgingCone is pure fun, so start playing right away!</p>
  <p><%= link_to 'Login', new_player_session_path, :class => 'btn btn-primary btn-lg', :role => 'button' %></p>
</div>
