// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment {
  position: relative;

  .comment-link,
  .comment-remove {
    position: absolute;
    left: 1px;
    visibility: hidden;
  }

  .comment-remove {
    top: 35px;
  }

  &:hover {
    .comment-link,
    .comment-remove {
      visibility: visible;
    }
  }
}
