<% if player_signed_in? %>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DodgingCone</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <%= nav_bar do %>
            <%= nav_link 'Scores', scores_path %>
            <%= nav_link 'My profile', profiles_show_path %>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'Logout', destroy_player_session_path, method: :delete %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
<% end %>
